<div>
  <h1 class="d-flex align-items-center justify-content-center pt-4" [ngClass]="{
            'text-success' : selectedEntryType.value === incomeEntryType.value,
            'text-danger' : selectedEntryType.value === expenditureEntryType.value
         }">{{ title }}</h1>
</div>
<div class="modal-body">
  <form class="needs-validation" [formGroup]="addOrEditEntryFormGroup" (ngSubmit)="onSubmit()" novalidate>
    <div class="mb-4">
      <div ngbDropdown class="d-block">
        <button type="button" class="btn btn-outline-light w-100 d-flex justify-content-between align-items-center" id="dropdownEntryType" ngbDropdownToggle>{{ selectedEntryType.label }}</button>
        <div ngbDropdownMenu aria-labelledby="dropdownEntryType" class="w-100">
          @for (entryType of entryTypes; track entryType) {
            <button type="button" ngbDropdownItem (click)="selectEntryType(entryType)">{{ entryType.label }}</button>
          }
        </div>
      </div>
    </div>
    <div class="col-md-12 mb-3">
      <label for="add-entry-name" class="form-label bs-success-text-emphasis">Kurzbeschreibung</label>
      <div class="input-group has-validation">
        <input formControlName="name" type="text" class="form-control" id="add-entry-name" aria-describedby="inputGroupPrepend" required>
        <div class="invalid-feedback">
          Kurzbeschreibung fehlt!
        </div>
      </div>
    </div>
    <div class="col-md-12 mb-3">
      <label for="add-entry-value" class="form-label">Betrag</label>
      <div class="input-group has-validation">
        <input
          currencyMask
          class="form-control"
          id="add-entry-value"
          formControlName="value"
          aria-describedby="inputGroupPrepend"
          [options]="{ prefix: '', thousands: '', decimal: ',' }"
          inputmode="numeric"
          pattern="^\d+(\,\d{1,2})?$">
        <span class="input-group-text" id="inputGroupPrepend">€</span>
        <div class="invalid-feedback">
          Betrag fehlt!
        </div>
      </div>
    </div>
    <div class="col-md-12 mb-3">
      <label for="add-entry-date" class="form-label">Datum</label>
      <div class="input-group">
        <input
          id="add-entry-date"
          class="form-control"
          placeholder="{{ selectedDateTimestamp | date: 'dd.MM.yyyy'}}"
          name="date"
          formControlName="date"
          ngbDatepicker
          [showWeekNumbers]="true"
          [startDate]="selectedDate"
          (dateSelect)="onDateSelected($event)"
          #date="ngbDatepicker"
          />
        <button class="btn btn-outline-secondary bi bi-calendar3" (click)="date.toggle()" type="button"></button>
      </div>
    </div>
    <div class="col-md-12 mb-3">
      <label for="add-entry-account" class="form-label">Konto</label>
      <div ngbDropdown class="d-block">
        <button type="button" class="btn btn-outline-light w-100 d-flex justify-content-between align-items-center" id="dropdownAccount" ngbDropdownToggle>{{ selectedAccount.name || 'Konto wählen' }}</button>
        <div ngbDropdownMenu aria-labelledby="dropdownAccount" class="w-100">
          @for (account of accounts; track account) {
            <button type="button" ngbDropdownItem (click)="selectAccount(account)">{{ account.name }}</button>
          }
        </div>
      </div>
    </div>
    <div class="col-md-12 mb-3">
      <label for="add-entry-budget" class="form-label">Budget</label>
      <div ngbDropdown class="d-block">
        <button type="button" class="btn btn-outline-light w-100 d-flex justify-content-between align-items-center" id="dropdownBudget" ngbDropdownToggle>{{ selectedBudget?.name || 'Budget wählen' }}</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBudget" class="w-100">
          @for (budget of budgets; track budget) {
            <button type="button" ngbDropdownItem (click)="selectBudget(budget)">{{ budget.name }}</button>
          }
        </div>
      </div>
    </div>
  </form>
  <div class="pt-2">
    @if (entry) {
      <button type="button" class="btn btn-danger" (click)="onButtonDelete()"><i class="bi bi-trash pe-2"></i>Löschen</button>
    }
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-dark" (click)="onButtonCancel()">Abbrechen</button>
  <button
    type="button"
    class="btn btn-light"
    [disabled]="isNameInvalid || isValueInvalid"
  (click)="onSubmit()">{{ submitButtonText }}</button>
</div>
