.name {
  font-size: 14px;
  font-weight: 500;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 60%;
}

.limit {
  font-size: 14px;
  font-weight: 600;
  flex-shrink: 0;
}

:host ::ng-deep .progress {
  height: 6px;
  border-radius: 3px;
}
