<div>
  <h1 class="d-flex align-items-center justify-content-center pt-4">{{ title }}</h1>
</div>
<div class="modal-body">
  <form class="needs-validation" [formGroup]="addBudgetFormGroup" (ngSubmit)="onSubmit()" novalidate>
    <div class="col-md-12 mb-3">
      <label for="add-budget-name" class="form-label">Name</label>
      <div class="input-group has-validation">
        <input formControlName="name" type="text" class="form-control" id="add-budget-name" aria-describedby="inputGroupPrepend" required>
        <div class="invalid-feedback">
          Name fehlt!
        </div>
      </div>
    </div>
    <div class="col-md-12 mb-3">
      <label for="add-budget-limit" class="form-label">Limit</label>
      <div class="input-group has-validation">
        <input
          currencyMask
          class="form-control"
          id="add-budget-limit"
          formControlName="limit"
          aria-describedby="inputGroupPrepend"
          [options]="{ prefix: '', thousands: '', decimal: ',' }"
          inputmode="numeric"
          pattern="^\d+(\,\d{1,2})?$"
          required>
        <span class="input-group-text" id="inputGroupPrepend">€</span>
        <div class="invalid-feedback">
          Limit fehlt!
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-dark" (click)="onCancel()">Abbrechen</button>
  <button
    type="button"
    class="btn btn-light"
    [disabled]="addBudgetFormGroup.invalid"
    (click)="onSubmit()">{{ submitButtonText }}</button>
</div>
