<div class="d-flex align-items-center vh-100">
  <div class="container">
    <h1 i18n class="d-flex justify-content-center pb-5 display-1" style="font-size: 30px">Willkommen!</h1>
    <h3 i18n>Bitte trete einem Zuhause bei oder erstell ein neues.</h3>
      <div ngbAccordion
           [closeOthers]="true"
           (hide)="onNothingSelected()"
           (show)="onShow($event)">
        <div ngbAccordionItem [collapsed]="false">
          <h2 ngbAccordionHeader>
            <button i18n ngbAccordionButton>Zuhause beitreten</button>
          </h2>
          <div ngbAccordionCollapse>
            <div ngbAccordionBody>
              <form class="needs-validation" [formGroup]="joinFormGroup" (ngSubmit)="onJoin()" noValidate>
                <div class="col-md-12 mb-3">
                  <label i18n for="home-setup-input-join-name" class="form-label">Name</label>
                  <div class="input-group has-validation">
                    <input formControlName="joinHomeName" type="text" class="form-control" id="home-setup-input-join-name" aria-describedby="inputGroupPrepend" required>
                    <div i18n class="invalid-feedback">
                      Name fehlt!
                    </div>
                  </div>
                </div>
                <div class="col-md-12 mb-3">
                  <label i18n for="home-setup-input-join-pin" class="form-label">PIN</label>
                  <input formControlName="joinHomePin" type="password" class="form-control" id="home-setup-input-join-pin" required>
                  <div i18n class="valid-feedback">
                    PIN fehlt!
                  </div>
                </div>
                <div class="position-fixed end-0 bottom-0 me-4 mb-4">
                  <button i18n type="submit" class="btn btn-primary float-end" [disabled]="joinFormGroup.invalid">Beitreten</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div ngbAccordionItem [collapsed]="true">
          <h2 ngbAccordionHeader>
            <button i18n ngbAccordionButton>Zuhause erstellen</button>
          </h2>
          <div ngbAccordionCollapse>
            <div ngbAccordionBody>
              <form class="needs-validation" [formGroup]="createFormGroup" (ngSubmit)="onCreate()" novalidate>
                <div class="col-md-12 mb-3">
                  <label i18n for="home-setup-input-create-name" class="form-label">Name</label>
                  <div class="input-group has-validation">
                    <input formControlName="createHomeName" type="text" class="form-control" id="home-setup-input-create-name" aria-describedby="inputGroupPrepend" required>
                    <div i18n class="invalid-feedback">
                      Name fehlt!
                    </div>
                  </div>
                </div>
                <div class="position-fixed end-0 bottom-0 me-4 mb-4">
                  <button i18n type="submit" class="btn btn-primary float-end" [disabled]="createFormGroup.invalid">Erstellen</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
