<!-- Add or Edit Regularly Modal -->
<ng-template #addOrEditRegularlyModal let-modal>
  <app-add-or-edit-regularly
    [regularly]="selectedRegularly"
    [type]="RegularlyType.regularly"
    (onClose)="onCloseAddOrEditRegularlyModal()">
  </app-add-or-edit-regularly>
</ng-template>
<div class="container pt-3">
  <div class="row" *ngIf="monthRegularities.length > 0">
    <ul class="list-group list-group-flush pb-3">
      <div class="row">
        <div class="col-8">
          <h1>Monatlich</h1>
        </div>
      </div>
      <li class="list-group-item" id="entry-list-month-regularities" *ngFor="let regularly of monthRegularities" (click)="onRegularlyClicked(regularly)">
        <app-regularly-list-entry [regularly]="regularly"
          >
        </app-regularly-list-entry>
      </li>
    </ul>
  </div>
  <div class="row" *ngIf="quarterRegularities.length > 0">
    <ul class="list-group list-group-flush pb-3">
      <div class="row">
        <div class="col-8">
          <h1>Quartal</h1>
        </div>
      </div>
      <li class="list-group-item" id="entry-list-quarter-regularities" *ngFor="let regularly of quarterRegularities" (click)="onRegularlyClicked(regularly)">
        <app-regularly-list-entry [regularly]="regularly"
        >
        </app-regularly-list-entry>
      </li>
    </ul>
  </div>
  <div class="row" *ngIf="yearRegularities.length > 0">
    <ul class="list-group list-group-flush pb-3">
      <div class="row">
        <div class="col-8">
          <h1>Jährlich</h1>
        </div>
      </div>
      <li class="list-group-item" id="entry-list-year-regularities" *ngFor="let regularly of yearRegularities" (click)="onRegularlyClicked(regularly)">
        <app-regularly-list-entry [regularly]="regularly"
        >
        </app-regularly-list-entry>
      </li>
    </ul>
  </div>
  <div class="row" *ngIf="isNoContentAvailable()">
    <div class="card">
      <div class="m-2 mt-3">
        <img src="assets/img/no-account.gif" class="card-img-top" alt="no budget" style="border-radius: 6px;">
      </div>
      <div class="card-body">
        <h1 class="card-title">Keine Regelmäßigen Einträge</h1>
        <div class="no-budget-card-content">
          <p class="card-text">Du hast noch keine regelmäßigen Aus- oder Eingaben angelegt. Lege jetzt direkt welche an.</p>
        </div>
        <div class="position-absolute end-0 bottom-0 me-4 mb-4">
          <button type="button" class="btn btn-primary" (click)="openAddOrEditRegularlyModal()">Anlegen</button>
        </div>
      </div>
    </div>
  </div>
  <!-- No Account Toast and Add Button -->
  <ngb-toast class="position-fixed bottom-0 mb-4" *ngIf="isToastNoAccountShown" [autohide]="false"> Um einen Regelmäßigen Eintrag zu machen, benötigst du ein Konto. <a [routerLink]="['/accounts']">Hier</a> kannst du ein Konto anlegen. </ngb-toast>
  <div class="position-fixed end-0 bottom-0 me-4 mb-4" *ngIf="isAccountAvailable && !isNoContentAvailable()">
    <button type="button" class="btn btn-primary" (click)="openAddOrEditRegularlyModal()"><i class="bi bi-plus-lg"></i></button>
  </div>
</div>
