<!-- Modal edit Budget -->
<ng-template #editBudgetModal let-modal>
  <app-show-budget-content
    [budget]="clickedBudget"
    (onClose)="onCloseEditBudgetModal()">
  </app-show-budget-content>
</ng-template>
<!-- List of Budgets -->
<div class="container-fluid">
  <div class="row">
    <table class="table">
      <tbody>
        <div *ngFor="let budget of noTimeLimitBudgets" class="card p-1 m-2" (click)="onCardClick(budget)">
          <div class="card-body">
            <app-budget-list-entry
              [budget]="budget">
            </app-budget-list-entry>
          </div>
        </div>
      </tbody>
    </table>
  </div>
  <div class="row">
    <table class="table">
      <tbody>
        <div *ngFor="let monthBudget of monthBudgets">
          <h1>{{ monthBudget.name }}</h1>
          <div *ngFor="let budget of monthBudget.budgets" class="card p-1 m-2" (click)="onCardClick(budget)">
            <div class="card-body">
              <app-budget-list-entry
                [budget]="budget">
              </app-budget-list-entry>
            </div>
          </div>
        </div>
      </tbody>
    </table>
  </div>
</div>
