<form class="needs-validation mt-3" [formGroup]="invoiceSettingsFormGroup" (ngSubmit)="onSubmit()" novalidate>
  @if (invoiceAccounts.length > 0) {
    <div class="row">
      <label for="invoice-settings-invoice-accounts" class="form-label">Abrechnungskonto</label>
      <div class="mb-3">
        <select class="form-select" id="invoice-settings-invoice-accounts" aria-label="Select Invoice Account" formControlName="invoiceAccounts">
          @for (invoiceAccount of invoiceAccounts; track invoiceAccount) {
            <option value="{{ invoiceAccount.key }}">{{ invoiceAccount.name }}</option>
          }
        </select>
      </div>
    </div>
  }
  @if (selectedInvoiceAccountKey) {
    <div>
      <div class="mt-3">
        <label for="invoice-settings-beneficiary-accounts-select" class="form-label">Verrechnungskonten</label>
        @if (beneficiaryAccounts.length > 0) {
          <div class="row mb-3">
            <div class="col-10">
              <select class="form-select" id="invoice-settings-beneficiary-accounts-select" aria-label="Select Beneficiary Account" formControlName="beneficiaryAccounts">
                @for (beneficiaryAccount of beneficiaryAccounts; track beneficiaryAccount) {
                  <option value="{{ beneficiaryAccount.key }}">{{ beneficiaryAccount.name }}</option>
                }
              </select>
            </div>
            <div class="col-2">
              <button type="button" class="btn btn-outline-light" (click)="addSelectedBeneficiaryAccount()"><i class="bi bi-plus-lg"></i></button>
            </div>
          </div>
        }
      </div>
      @if (selectedBeneficiaryAccounts.length > 0) {
        <div class="row">
          <ul class="list-group list-group-flush px-3">
            @for (beneficiaryAccount of selectedBeneficiaryAccounts; track beneficiaryAccount) {
              <li class="list-group-item" id="invoice-account-settings-beneficiary-accounts">{{ beneficiaryAccount.name }}
                <button type="button" class="btn btn btn-dark position-absolute btn-sm end-0 top-0" (click)="onRemoveBeneficiaryAccountButtonClick(beneficiaryAccount)"><i class="bi bi-dash-lg"></i></button>
              </li>
            }
          </ul>
        </div>
      }
    </div>
  }
  <!-- Auszahlungsberechtigt -->
  <!-- Sparrate -->
  <!-- Anteil + max Betrag-->
  <!-- Monat -->
</form>
<div class="modal-footer mt-3">
  <button
    type="button"
    class="btn btn-light"
  (click)="onSubmit()">Weiter</button>
</div>


