<!-- Modal add Budget -->
<ng-template #addBudgetModal let-modal>
  <app-add-budget-content
  (onClose)="onCloseAddBudgetModal()">
  </app-add-budget-content>
</ng-template>
<!-- Modal edit Budget -->
<ng-template #editBudgetModal let-modal>
  <app-edit-budget-content
    [budget]="clickedBudget"
    (onClose)="onCloseEditBudgetModal()">
  </app-edit-budget-content>
</ng-template>
<div class="container">
  <!-- timeless budgets -->
  <div class="row">
    <h2 class="pt-2">Zeitlos</h2>
    <!-- No Time Limit -->
    <table class="table table-striped">
      <tbody>
      <div *ngFor="let budget of noTimeLimitBudgets" class="card p-1 m-2" (click)="onCardClick(budget)">
        <div class="card-body">
          <div style="height: 30px">
            <span class="name-no-time-limit position-absolute start-0 top-0 pt-3 ps-3"> {{budget.name}} </span>
            <span class="limit-no-time-limit position-absolute top-0 end-0 pt-3 pe-3">{{ budget.limit ? priceService.convertNumberToEuro(budget.limit!) : 'Bitte Limit setzen' }}</span>
          </div>
          <div>
            <ngb-progressbar
              [value]="budget.usedLimit!"
              [max]="budget.limit!"
              [showValue]="true"
              type="{{getProgressBarType(budget.usedLimit!, budget.limit!)}}"
            ></ngb-progressbar>
          </div>
        </div>
      </div>
      </tbody>
    </table>
  </div>
  <div class="row">
    <h2 class="pt-2">Diesen Monat</h2>
    <!-- Monthly -->
    <table class="table table-striped">
      <tbody>
      <div *ngFor="let budget of monthlyBudgets" class="card p-1 m-2" (click)="onCardClick(budget)">
        <div class="card-body">
          <div style="height: 30px">
            <span class="name-monthly position-absolute start-0 top-0 pt-3 ps-3"> {{budget.name}} </span>
            <span class="limit-monthly position-absolute top-0 end-0 pt-3 pe-3">{{ budget.limit ? priceService.convertNumberToEuro(budget.limit!) : 'Bitte Limit setzen' }}</span>
          </div>
          <div>
            <ngb-progressbar
              [value]="budget.usedLimit!"
              [max]="budget.limit!"
              [showValue]="true"
              type="{{getProgressBarType(budget.usedLimit!, budget.limit!)}}"
            ></ngb-progressbar>
          </div>
        </div>
      </div>
      </tbody>
    </table>
  </div>
  <!-- Add Button -->
  <div *ngIf="this.chosenType.value == typeNoTimeLimit.value" class="position-fixed end-0 bottom-0 me-4 mb-4">
    <button type="button" class="btn btn-primary" (click)="onAddClick()"><i class="bi bi-plus-lg"></i></button>
  </div>
</div>
