<div class="reg-item"
     [class.reg-item--income]="regularly!.entryType === EntryType.income"
     [class.reg-item--outcome]="regularly!.entryType === EntryType.outcome">
  <div class="reg-item__indicator"></div>
  <div class="reg-item__body">
    <div class="reg-item__row">
      <span class="reg-item__name">{{ regularly!.name }}</span>
      <span class="reg-item__value" [ngClass]="{
        'text-success': regularly!.entryType === EntryType.income,
        'reg-item__value--outcome': regularly!.entryType === EntryType.outcome
      }">{{ getPrice(regularly!) }}</span>
    </div>
    <div class="reg-item__row reg-item__row--sub">
      <span>{{ regularly!.account.name }}</span>
      <span>{{ regularly?.cycle === RegularlyCycleType.year ? getDateFromTimestamp(regularly!.date!) : dayOfMonth }}</span>
    </div>
  </div>
</div>
