<div class="container">
  <div class="row">
    <div class="col-1 list-icon">
      <div class="position-absolute start-0 top-0 ps-3 pt-3">
        <i class="bi bi-calendar2-week"></i>
      </div>
    </div>
    <div class="col-11">
      <div class="container">
        <!-- upside -->
        <div class="row upside">
          <div class="col-9 name">
            {{ regularly!.name }}
          </div>
          <div class="col-3">
            <div class="position-absolute end-0" [ngClass]="{
            'text-success' : regularly!.entryType === EntryType.income,
            'text-danger' : regularly!.entryType === EntryType.outcome
         }">
              {{ getPrice(regularly!) }}
            </div>
          </div>
        </div>
        <!-- downside -->
        <div class="row downside text-white-50">
          <div class="col-9 name">
            {{ regularly!.account.name }}
          </div>
          <div class="col-3">
            <div class="position-absolute end-0">
              {{ regularly?.cycle === RegularlyCycleType.year ? getDateFromTimestamp(regularly!.date!) : dayOfMonth }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
