<!-- Loading Modal -->
<ng-template #loadingModal let-modal>
  <div class="modal-body d-flex align-items-center justify-content-center">
    <div>
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <p class="pt-3">Lädt...</p>
    </div>
  </div>
</ng-template>

<!-- Content -->
@if (showLogin) {
  <div>
    <app-login></app-login>
  </div>
}
@if (showHomeSetup) {
  <div>
    <app-home-setup></app-home-setup>
  </div>
}
@if (showMain) {
  <div>
    <app-main-menu></app-main-menu>
  </div>
}

<!-- Toasts -->
<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
