<div class="history-page">
  <form [formGroup]="searchFormGroup" novalidate>
    <div class="form-field mb-3">
      <div class="search-wrap">
        <i class="bi bi-search search-wrap__icon"></i>
        <input formControlName="search" type="text" placeholder="Suche..."
          class="form-field__input search-wrap__input"
          id="history-search" autocomplete="off">
      </div>
    </div>
    <div class="form-field mb-3">
      <div ngbDropdown container="body" placement="bottom-end">
        <button class="form-field__select" type="button" ngbDropdownToggle>
          {{ selectedAccountName }}
          <i class="bi bi-chevron-down form-field__chevron"></i>
        </button>
        <div ngbDropdownMenu class="sheet-dropdown">
          <button ngbDropdownItem
            (click)="searchFormGroup.controls['accounts'].setValue('')">
            Alle Konten
          </button>
          @for (account of accounts; track account.id) {
            <button ngbDropdownItem
              (click)="searchFormGroup.controls['accounts'].setValue(account.id)">
              {{ account.name }}
            </button>
          }
        </div>
      </div>
    </div>
  </form>

  <button type="button"
    class="chip-btn mb-3"
    [class.chip-btn--active]="historySearchObject.isLastMonth"
    (click)="onClickLastMonth()">
    <i class="bi bi-clock-history"></i>Letzter Monat
  </button>

  <app-history-list [historySearchObject]="historySearchObject"></app-history-list>
</div>
