<div class="entry-item"
     [class.entry-item--income]="entry!.type === EntryType.income"
     [class.entry-item--outcome]="entry!.type === EntryType.outcome">
  <div class="entry-item__indicator"></div>
  <div class="entry-item__body">
    <div class="entry-item__row">
      <span class="entry-item__name">{{ entry!.name }}</span>
      <span class="entry-item__value" [ngClass]="{
        'text-success': entry!.type === EntryType.income,
        'text-danger':  entry!.type === EntryType.outcome
      }">{{ getPrice(entry!) }}</span>
    </div>
    <div class="entry-item__row entry-item__row--sub">
      <span>{{ entry!.account.name }}</span>
      <span>{{ getDateFromTimestamp(entry!.date) }}</span>
    </div>
  </div>
</div>
