<!--<div class="row">
  <i class="bi bi-bank"></i>
  <span>
      {{ entry?.name }}
    <div>
      {{ entry?.value }}
    </div>
  </span>
</div>-->

<div class="container">
  <div class="row">
    <div class="col-1 list-icon">
      <div class="position-absolute start-0 top-0 ps-3 pt-3">
        <i class="bi bi-bank" *ngIf="entry!.account.accountType === AccountType.giro"></i>
      </div>
      <div class="position-absolute start-0 top-0 ps-3 pt-3">
        <i class="bi bi-credit-card-2-front" *ngIf="entry!.account.accountType === AccountType.creditCard"></i>
      </div>
    </div>
    <div class="col-11">
      <div class="container">
        <!-- upside -->
        <div class="row upside">
          <div class="col-9 name">
            {{ entry!.name }}
          </div>
          <div class="col-3">
            <div class="position-absolute end-0" [ngClass]="{
            'text-success' : entry!.type === EntryType.income,
            'text-danger' : entry!.type === EntryType.outcome
         }">
              {{ getPrice(entry!) }}
            </div>
          </div>
        </div>
        <!-- downside -->
        <div class="row downside text-white-50">
          <div class="col-9 name">
            {{ entry!.account.name }}
          </div>
          <div class="col-3">
            <div class="position-absolute end-0">
              {{ getDateFromTimestamp(entry!.date) }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
