<ng-template #addOrEditEntryModal let-modal>
  <app-add-or-edit-entry
    [entry]="selectedEntry"
    (onClose)="onCloseAddOrEditEntryModal()">
  </app-add-or-edit-entry>
</ng-template>
<!-- Entry list -->
<div>
  <ul class="list-group list-group-flush pb-3">
    <h1 *ngIf="actualMonthEntries.length > 0">Aktuell</h1>
    <li class="list-group-item" id="entry-list-actual-month" *ngFor="let entry of actualMonthEntries" (click)="onEntryClick(entry)">
      <app-entry-list-entry
        [entry]="entry">
      </app-entry-list-entry>
    </li>
  </ul>
  <ul class="list-group list-group-flush">
    <h1 *ngIf="nextMonthEntries.length > 0">{{ nextMonthName }}</h1>
    <li class="list-group-item" id="entry-list-next-month" *ngFor="let entry of nextMonthEntries" (click)="onEntryClick(entry)">
      <app-entry-list-entry
        [entry]="entry">
      </app-entry-list-entry>
    </li>
  </ul>
</div>
<!-- No Account Toast and Add Button -->
<ngb-toast class="position-fixed bottom-0 mb-4" *ngIf="isToastNoAccountShown" [autohide]="false"> Um einen Eintrag zu machen, benötigst du ein Konto. <a [routerLink]="['/accounts']">Hier</a> kannst du ein Konto anlegen. </ngb-toast>
<div class="position-fixed end-0 bottom-0 me-4 mb-4" *ngIf="isAccountAvailable">
  <button type="button" class="btn btn-primary" (click)="onButtonAddClick()"><i class="bi bi-plus-lg"></i></button>
</div>
