<ng-template #viewAccountModal let-modal>
  <app-view-account-content
    [account]="selectedAccount"
    (onClose)="onCloseViewAccountModal()">
  </app-view-account-content>
</ng-template>
<!-- Modal add or edit account -->
<ng-template #addOrEditAccountModal let-modal>
  <app-add-or-edit-account-content
    (onClose)="onCloseAddOrEditAccountModal()">
  </app-add-or-edit-account-content>
</ng-template>
<div class="container">
  <div class="row">
    <ul class="list-group list-group-flush">
      <li class="list-group-item" id="list-accounts" *ngFor="let account of accounts" (click)="onClickAccount(account)">
        <div class="custom-list-item">
          <i class="bi bi-bank icon" *ngIf="account.accountType === AccountType.giro"></i>
          <i class="bi bi-credit-card-2-front icon" *ngIf="account.accountType === AccountType.creditCard"></i>
          <span class="name ps-2 pt-1"> {{ account.name }} </span>
          <span class="limit position-absolute top-0 end-0 pt-3 pe-3 value">{{ priceService.convertNumberToEuro(account.value) }}</span>
        </div>
      </li>
    </ul>
  </div>
  <!-- Add Button -->
  <div class="position-fixed end-0 bottom-0 me-4 mb-4" *ngIf="accounts.length > 0">
    <button type="button" class="btn btn-primary" (click)="onButtonAddClick()"><i class="bi bi-plus-lg"></i></button>
  </div>
</div>
<div class="row" *ngIf="accounts.length == 0 && isInitialized">
  <div class="card">
    <div class="m-2 mt-3">
      <img src="assets/img/no-credit-card.gif" class="card-img-top" alt="welcome" style="border-radius: 6px;">
    </div>
    <div class="card-body">
      <h1 class="card-title">Keine Konten</h1>
      <div class="welcome-card-content">
        <p class="card-text">Du hast noch keine Konten. Um Abrechnungen erstellen zu können, wird ein Konto benötigt.</p>
      </div>
      <div class="position-absolute end-0 bottom-0 me-4 mb-4">
        <button type="button" class="btn btn-primary" (click)="onButtonAddClick()">Anlegen</button>
      </div>
    </div>
  </div>
</div>
