<div class="card">
  <div class="card-body">
    <h1 class="card-title"><i class="bi bi-person pe-3"></i>Benutzer</h1>
    <form class="needs-validation" [formGroup]="settingsUserFormGroup">
      <ul class="list-group list-group-flush pb-3">
        <li class="list-group-item" id="setting-home-name">
          <div class="custom-list-item">
            <i class="bi bi-house"></i>
            <span class="name ps-2">E-Mail</span>
            <span class="limit position-absolute top-0 end-0 pe-3 pt-1">{{ userService.user.email }}</span>
          </div>
        </li>
        <li class="list-group-item" id="setting-main-account">
          <label for="account-list" class="form-label pt-2">Hauptkonto</label>
          <div class="mb-3">
            <select class="form-select" id="account-list" aria-label="Select Main Account" formControlName="mainAccount">
              <option *ngFor="let account of accounts" value="{{ account.key }}">{{ account.name }}</option>
            </select>
          </div>
        </li>
        <li class="list-group-item" id="setting-logout">
          <div class="row m-1 pt-2">
            <button type="button" class="btn btn-outline-light" (click)="onButtonLogout()"><i class="bi bi-box-arrow-right pe-2"></i>Abmelden</button>
          </div>
        </li>
      </ul>
    </form>
  </div>
</div>
