<!-- Modal add Cycle -->
<ng-template #addCycleModal let-modal>
  <app-add-or-edit-cycle-content
    [cycle]="clickedCycle"
    (onClose)="onCloseAddOrEditCycleModal()">
  </app-add-or-edit-cycle-content>
</ng-template>
<div class="container">
  <div class="row">
    <ul class="list-group list-group-flush">
      <li class="list-group-item" id="list-cycles" *ngFor="let cycle of cycles" (click)="onCardClick(cycle)">
        <div style="height: 28px">
          <span class="name ps-2 pt-1"> {{ cycle.name }} </span>
          <span class="limit position-absolute top-0 end-0 pt-3 pe-3 value">{{ cycle.limit ? priceService.convertNumberToEuro(cycle.limit!) : 'Kein Limit gesetzt' }}</span>
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="row" *ngIf="cycles.length == 0 && isInitialized">
  <div class="card">
    <div class="m-2 mt-3">
      <img src="assets/img/no-cycle.gif" class="card-img-top" alt="no cycle" style="border-radius: 6px;">
    </div>
    <div class="card-body">
      <h1 class="card-title">Keine Zyklen</h1>
      <div class="no-cycle-card-content">
        <p class="card-text">Du hast noch keinen Zyklus angelegt. Ein Zyklus legt für dich bequem budgets an.</p>
      </div>
      <div class="position-absolute end-0 bottom-0 me-4 mb-4">
        <button type="button" class="btn btn-primary" (click)="onAddClick()">Anlegen</button>
      </div>
    </div>
  </div>
</div>
<!-- Add Button -->
<div class="position-fixed end-0 bottom-0 me-4 mb-4" *ngIf="cycles.length > 0">
  <button type="button" class="btn btn-primary" (click)="onAddClick()"><i class="bi bi-plus-lg"></i></button>
</div>
