<ng-template #addOrEditEntryModal let-modal>
  <app-add-or-edit-entry
    [entry]="selectedEntry"
    (onClose)="onCloseAddOrEditEntryModal()">
  </app-add-or-edit-entry>
</ng-template>
<ul class="list-group list-group-flush pt-4 pb-3">
  <div class="row">
    <div class="col-8">
      <h1>{{ title }}</h1>
    </div>
  </div>
  <li class="list-group-item" id="entry-list-actual-month" *ngFor="let entry of entries" (click)="onEntryClick(entry)">
    <app-entry-list-entry
      [withMonth]="!historySearchObject!.isLastMonth"
      [entry]="entry">
    </app-entry-list-entry>
  </li>
</ul>
