<!-- View Budget -->
<ng-template #viewBudgetModal let-modal>
  <app-view-budget-content
    [budget]="clickedBudget"
    (onClose)="onCloseViewBudgetModal()">
  </app-view-budget-content>
</ng-template>
<div class="container">
  <div class="row">
    <!-- Info area -->
    <app-info-area>
    </app-info-area>
  </div>
  @if (allBudgets.length > 0) {
    <div class="row mb-3">
      <!-- No Time Limit -->
      <h1>Budgets</h1>
      <div class="d-flex flex-column">
        @for (budget of allBudgets; track budget.id) {
          <div class="card p-1 m-2" (click)="openViewBudgetModal(budget)" style="cursor: pointer;">
            <div class="card-body">
              <app-budget-list-entry [budget]="budget" class="w-100"></app-budget-list-entry>
            </div>
          </div>
        }
      </div>
    </div>
  }
  <div class="row">
    <!-- Entries -->
    <app-entry-list>
    </app-entry-list>
  </div>
</div>
