<!-- View Budget -->
<ng-template #viewBudgetModal let-modal>
  <app-view-budget-content
    [budget]="clickedBudget"
    (onClose)="onCloseViewBudgetModal()">
  </app-view-budget-content>
</ng-template>
<div class="container">
  <div class="row" *ngIf="allTimeBudgets.length > 0 || monthlyBudgets.length > 0">
    <!-- No Time Limit -->
    <h1>Budgets</h1>
    <table class="table table-striped">
      <tbody>
      <div *ngFor="let budget of allTimeBudgets" class="card p-1 m-2" (click)="openViewBudgetModal(budget)">
        <div class="card-body">
          <app-budget-list-entry
            [budget]="budget">
          </app-budget-list-entry>
        </div>
      </div>
      <div *ngFor="let budget of monthlyBudgets" class="card p-1 m-2" (click)="openViewBudgetModal(budget)">
        <div class="card-body">
          <app-budget-list-entry
            [budget]="budget">
          </app-budget-list-entry>
        </div>
      </div>
      </tbody>
    </table>
  </div>
  <div class="row">
    <!-- Entries -->
    <app-entry-list>
    </app-entry-list>
  </div>
</div>

<!-- Nothing here pig -->
<div class="row" *ngIf="false">
  <div class="card">
    <div class="m-2 mt-3">
      <img src="assets/img/pig.gif" class="card-img-top" alt="welcome" style="border-radius: 6px;">
    </div>
    <div class="card-body">
      <h1 class="card-title">Willkommen!</h1>
      <div class="welcome-card-content">
        <p class="card-text">Du hast noch keine Einträge oder Budgets angelegt.</p>
      </div>
    </div>
  </div>
</div>
