<div class="account-item">
  <div class="account-item__icon">
    @if (account?.accountType === AccountType.giro) {
      <i class="bi bi-bank"></i>
    }
    @if (account?.accountType === AccountType.creditCard) {
      <i class="bi bi-credit-card-2-front"></i>
    }
  </div>
  <div class="account-item__body">
    <div class="account-item__row">
      <span class="account-item__name">{{ account!.name }}</span>
      <span class="account-item__value" [ngClass]="{
        'text-success': account?.value! > 0,
        'text-danger':  account?.value! < 0
      }">{{ getPrice(account!) }}</span>
    </div>
    @if (account?.updatedDate) {
      <div class="account-item__row account-item__row--sub">
        <span>Rest ab {{ getDate() }}</span>
        <span>{{ priceService.convertNumberToEuro(calculateOverallRest()) }}</span>
      </div>
    }
  </div>
</div>

