.list-icon {
  font-size: 22px;
}

.name {
  display: inline-block;
  width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.upside {

}

.downside {
  font-size: 12px;
}
