<ng-template #updateAccountValueModal let-modal>
  <app-update-account-value
    [account]="selectedAccount"
    (onClose)="onCloseUpdateAccountValueModal()">
  </app-update-account-value>
</ng-template>
@if (accounts.length > 0) {
  <div>
    <h1>Konten</h1>
    <ul class="list-group list-group-flush pb-3">
      @for (account of accounts; track account.id) {
        <li class="list-group-item" id="entry-list-actual-month" (click)="onAccountClick(account)">
          <app-info-list-entry
            [account]="account">
          </app-info-list-entry>
        </li>
      }
    </ul>
  </div>
}
