<nav class="navbar sticky-top navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <div class="me-2">
      <button type="button" class="btn top-50" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i class="bi bi-list"></i></button>
    </div>
    <a class="navbar-brand ps-2">{{ title }}</a>
    <button class="btn btn-dark" (click)="onButtonLogout()">logout</button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul ngbNav [(activeId)]="activeId" class="navbar-nav me-auto mb-2 mt-4 mb-lg-0">
        <li [ngbNavItem]="1">
          <button
            ngbNavLink
            data-bs-toggle="collapse"
            data-bs-target=".navbar-collapse.show"
            (click)="navigateToActualMonth()">Aktueller Monat</button>
        </li>
        <li [ngbNavItem]="2">
          <button
            ngbNavLink
            data-bs-toggle="collapse"
            data-bs-target=".navbar-collapse.show"
            (click)="navigateToRegularly()">Regelmäßig</button>
        </li>
        <li [ngbNavItem]="3">
          <button
            ngbNavLink
            data-bs-toggle="collapse"
            data-bs-target=".navbar-collapse.show"
            (click)="navigateToExpenditures()">Ausgaben</button>
        </li>
        <li [ngbNavItem]="4">
          <button
            ngbNavLink
            data-bs-toggle="collapse"
            data-bs-target=".navbar-collapse.show"
            (click)="navigateToAccounts()">Konten</button>
        </li>
        <li [ngbNavItem]="5">
          <button
            ngbNavLink
            data-bs-toggle="collapse"
            data-bs-target=".navbar-collapse.show"
            (click)="navigateToBudgets()">Budgets</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="p-3">
  <router-outlet></router-outlet>
</div>
