<nav class="navbar fixed-bottom navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">{{ title }}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul ngbNav [(activeId)]="activeId" class="navbar-nav me-auto mb-2 mt-4 mb-lg-0">
        <li [ngbNavItem]="1">
          <button
            ngbNavLink
            data-bs-toggle="collapse"
            data-bs-target=".navbar-collapse.show"
            (click)="navigateToActualMonth()">Aktueller Monat</button>
        </li>
        <li [ngbNavItem]="2">
          <button
            ngbNavLink
            data-bs-toggle="collapse"
            data-bs-target=".navbar-collapse.show"
            (click)="navigateToRegularly()">Regelmäßig</button>
        </li>
        <li [ngbNavItem]="3">
          <button
            ngbNavLink
            data-bs-toggle="collapse"
            data-bs-target=".navbar-collapse.show"
            (click)="navigateToExpenditures()">Ausgaben</button>
        </li>
        <li [ngbNavItem]="4">
          <button
            ngbNavLink
            data-bs-toggle="collapse"
            data-bs-target=".navbar-collapse.show"
            (click)="navigateToAccounts()">Konten</button>
        </li>
        <li [ngbNavItem]="5">
          <button
            ngbNavLink
            data-bs-toggle="collapse"
            data-bs-target=".navbar-collapse.show"
            (click)="navigateToBudgets()">Budgets</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
