<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">{{ title }}</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul ngbNav [(activeId)]="activeId" class="navbar-nav me-auto mb-2 mt-4 mb-lg-0">
        <li [ngbNavItem]="1">
          <button ngbNavLink (click)="navigateToHome()">First</button>
        </li>
        <li [ngbNavItem]="2">
          <button ngbNavLink (click)="navigateToSecond()">Second</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
<app-actual-month></app-actual-month>
